<div class="grid-container">
    <div>
        <div class="figure animate__animated animate__fadeIn" *ngFor="let item of getResultados">
            <div class=" m-1 rounded" >
                <img class="rounded" [src]="item.images.downsized_medium.url" [alt]="item.title">
            </div>
        </div>
    </div>
</div>





<!-- <div class="grid-container">
    <div class="grid">
    
            <div class=" img animate__animated animate__fadeIn" *ngFor="let item of getResultados">
                <div class="card m-1" style="width: 300px;">
                    <img class="card-img-top" [src]="item.images.downsized_medium.url" [alt]="item.title">
                    <div class="card-body">
                        <span class="card-text">{{ item.title }}</span>
                    </div>
                </div>
            </div>
        
    </div>
</div> -->