
 .grid-container{
  column-count: 6;
  column-gap: 10px;
}

.figure{
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

img {
  max-width: 100%;
  display: block;
}

@media only screen and (min-width:500px) {
  .grid-container{
    column-count: 5;
    column-gap: 10px;
  }
}

@media only screen and (max-width:800px) {
  .grid-container{
    column-count: 2;
    column-gap: 10px;
  }
}


/* .grid-container{
  column-count: 6;
  column-gap: 10px;
} */

