<footer class="container-fluid bg-dark">
    <div class="row align-items-center">
        <div class="col text-center text-white">
            <div class="row">
                <div>
                    <img id="logo-java" src="https://angular.io/assets/images/logos/angular/shield-large.svg"  alt=""
                        style="height: 50px; margin-top: 10px; margin-bottom: 10px;">
                </div>
                <div class="col align-self-center">
                    <div>
                        <strong>Hecho con &#9829; por Rosyec</strong>
                        <div>
                            <small>© 2022 - Todos los derechos reservados </small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>